language: java

jdk:
  - oraclejdk8

dist: trusty
sudo: false

env:
  - NODE_VERSION=v10
  - NODE_VERSION=v8
  - NODE_VERSION=v6

cache:
  directories:
  - $HOME/.m2

# Not caching node_modules due to issue with node_modules/npm/node_modules/dezalgo
# ENOENT for syscall rename...
# - node_modules

install:
  - nvm install $NODE_VERSION
  - npm install

script:
  - if [[ "${NODE_VERSION}" == 'v8' ]]; then npm run codecov; else npm run test; fi

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/caa35ceb4dd217d50b26
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
